<container>
  <row class="footer collapse">
    <columns>
      <row class="social collapse">
        <h1 class="text-center">Connect with us</h1>
        <columns large="1" small="1"></columns>
        <columns large="3.5" small="2"></columns>

        <columns large="1" small="2">
          <img
            src="/assets/img/gamestop-files/facebook.png"
            alt=""
            class="float-center small-float-center"
          />
        </columns>
        <columns large="1" small="2">
          <img
            src="/assets/img/gamestop-files/twitter.png"
            alt=""
            class="float-center small-float-center"
          />
        </columns>
        <columns large="1" small="2">
          <img
            src="/assets/img/gamestop-files/youtube.png"
            alt=""
            class="float-center small-float-center"
          />
        </columns>
        <columns large="3.5" small="2"></columns>
        <columns large="1" small="1"></columns>
      </row>

      <row class="get-app collapse">
        <h1 class="text-center">Get the app</h1>

        <columns large="3" small="1"></columns>
        <columns large="3" small="5">
          <img
            src="/assets/img/gamestop-files/appstore.png"
            alt=""
            class="float-center"
          />
        </columns>
        <columns large="3" small="5">
          <img
            src="/assets/img/gamestop-files/googleplay.png"
            alt=""
            class="float-center"
          />
        </columns>
        <columns large="3" small="1"></columns>
      </row>

      <row class="links">
        <columns large="12" small="12">
          <center class="center-tag">
            <menu>
              <item href="#" class="terms">Terms & conditions</item>

              <item href="#" class="account">My Account</item>
            </menu>
          </center>
        </columns>
      </row>

      <row class="info">
        <columns>
          <p>
            This message was sent to you because you have elected to receive
            email communications from GameStop.
          </p>

          <p>
            We sent this email to <a href="#">something@gmail.com</a> on
            7/7/2019.
          </p>

          <p>
            <a href="#">Click here</a> to unsubscribe this email address. Please
            note this process could take 2-3 days to complete.
          </p>

          <p>
            Weekly Ad: OFFERS VALID 7/7/2019 – 7/13/2019, UNLESS NOTED
            OTHERWISE. Offers and prices valid in Continental U.S. only. All
            prices in U.S. dollars. Offers cannot be combined with any other
            offer or discount. Some offers not valid on GameStop.com or
            EBgames.com. Selection may vary by store. All dates and prices are
            subject to change. Not responsible for typographical errors, price
            variances or manufacturer delays. PC products not available in all
            stores. All offers are available while supplies last. Rain checks
            will not be issued. No product substitutions are allowed. Trades
            must be in full working condition to receive full value. Defective
            items may be eligible for trade at a lesser value. Trades subject to
            manager approval. See sales associate for complete details. No
            dealers. Void where prohibited. GameStop, Inc. reserves the right to
            cancel, terminate, modify or suspend the offer for any reason
            without notice. © 2019 GameStop, Inc.
          </p>

          <p>
            Offer valid 7/7/19 - 8/3/19. Valid toward purchase of select New
            Playstation 4 consoles. Not valid toward cash trades. Trades must be
            in full working condition to receive full value. Defective items may
            be eligible for trade at a lesser value. Trades subject to manager
            approval. Cannot be combined with any other offer. See store
            associate for details. No dealers. Offer valid in the United States
            and Guam only. Void where prohibited. GameStop, Inc. reserves the
            right to cancel, terminate, modify or suspend the offer for any
            reason without notice
          </p>

          <p>
            For offers contained in this email. Selection may vary by store.
            While supplies last. Customer may be responsible for sales tax. No
            dealers. GameStop, Inc. reserves the right to cancel, terminate,
            modify or suspend offers contained in this email for any reason
            without notice. See sales associate for complete details. Void where
            prohibited.
          </p>

          <p>
            © GameStop, Inc. 2019 | 625 Westport Parkway | Grapevine, TX 76051
          </p>
        </columns>
      </row>
    </columns>
  </row>
</container>
